body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}
*{
font-family: Inter,system-ui;
}
.wrapper{
	background-color: #ffff;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.04);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

header{
	border-bottom: 1px solid #dadada;
		
		img{
			margin-right: 15px;
		}
		h3,
		p{
			margin: 0;
		}
}

.content {
	h1{
		margin: 0;
	}
}

.cart-empty{
	text-align: center;
p{
	width: 280px;
	line-height: 24px;
}
	.green-button{
	width: 235px;
	margin-top: 20px;

	&:hover{
		img{
			transform: rotate(180deg ) translateX(5px);
		}
	}
	img{
		position: relative;
		top: 1px;
		transform: rotate(180deg );
		margin-right: 15px;
		transition: transform 0.15s ease-in-out;
		}
	}
}



.search-block{
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	padding: 0 22px;
	position: relative;

	.clear{
		position: absolute;
		right: 0;
		width: 17px;
		height: 17px;
		top: 10px;
		right: 10px;
	}
		input {
			border: 0;
			padding: 10px;
			font-size: 14px;
			width: 150px;
		}
}

.cart-total-block{
	ul {
		display: block;
		margin-bottom: 40px !important;
  
		li {
		  display: flex;
		  align-items: flex-end;
		  margin-bottom: 20px;
  
		  div {
			 flex: 1;
			 height: 1px;
			 border-bottom: 1px dashed #dfdfdf;
			 position: relative;
			 top: -4px;
			 margin: 0 7px;
		  }
		}
	 }

.green-button{
	position: relative;

	&:disabled{
	animation: button-loading 0.6s ease-in-out infinite;
}

	&:hover{
		img{
			transform: translateX(5px);
		}
	}
		img{
		position: absolute;
		right: 40px;
		top:20px;
		transition: transform 0.2s ease-in-out;
		}
	}
}
.green-button{
		width: 100%;
		height: 55px;
		background: #49d4ca;
		border-radius: 18px;  
		border:0;
		color: #ffff;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
		
		&:disabled{
			background-color:#bebebe !important;
			cursor: default ;
			}
	
		&:hover{
			background: lighten($color: #49d4ca, $amount: 5%)
		}
		&:active{
			background: darken($color: #49d4ca, $amount: 5%)
	 }
}

.cart-item{
	border: 1px solid #f3f3f3;
	border-radius:20px;
	overflow: hidden; 
	padding: 20px;

	.cart-item-img {
		height: 70px;
		width: 70px;
		background-size: contain;
		background-position: 0 -3px;
		background-repeat: no-repeat;
		margin-right: 20px;
	 }
	
		p{
		font-size: 14px;
		margin: 0;
	}
		b{
		font-style: 16px;
	}
	.remove-btn{
	   opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

		&:hover{
			opacity: 1;
		}
	}
}

@keyframes button-loading{
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

 